#sliderContainer {
  height: 500px;
  width: 1000px;
  border: 1px solid black;
  position: relative;
  /* overflow: hidden; */
  margin: 0 auto;
}

#slider {
  position: absolute;
}

.image {
  height: 500px;
  width: 1000px;
  float: left;
  display: block;
}

#next {
  position: absolute;
  top: 50%;
  right: 20px;
}

#previous {
  position: absolute;
  top: 50%;
  left: 20px;
}

.icon {
  background-color: rgb(255, 255, 255, 30%);
  padding: 10px 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 80%);
}

.indicator-button {
  border: none;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 10%);
}

/* .indicator-button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 80%);
} */

#pageIndicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
